@use '../assets/colors.scss';
@import url('../assets/animations.scss');

.testimonial {
	margin-top: 1em;
	padding: 2em 2.2em;
	border-radius: 1.5rem;
	box-shadow: 10px 11px 24px -13px colors.$very-dark-grayish-blue;
	color: colors.$light-grayish-blue;
	overflow: hidden;
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.02);
	}

	&--1 {
		position: relative;
		margin: 0;
		background: colors.$moderate-violet;
		z-index: 0;
	}

	&--2 {
		background: colors.$very-dark-grayish-blue;
	}

	&--3,
	&--5 {
		background: colors.$white;
		color: colors.$very-dark-grayish-blue;
	}

	&--4 {
		background: colors.$very-dark-blackish-blue;
	}

	&__icon {
		position: absolute;
		top: 0;
		right: 2em;
		z-index: -1;
	}

	&__user {
		display: flex;
		align-items: center;
		margin-bottom: 1.5em;

		&-avatar {
			height: 30px;
			width: 30px;
			border: 2px solid colors.$white;
			border-radius: 50%;

			&--1 {
				border-color: colors.$white-medium-opacity;
			}

			&--2 {
				border-color: transparent;
			}

			&--4 {
				border-color: colors.$moderate-violet;
			}
		}

		&-info {
			margin-left: 1em;
			font-weight: 500;

			&--verification {
				font-size: 1.1rem;
				font-weight: 500;
				opacity: 0.5;
			}
		}
	}

	&__introduction {
		margin-bottom: 1em;
		font-size: 1.9rem;
		font-weight: 700;
	}

	&__content {
		line-height: 1.4;
		opacity: 0.7;
	}
}

@media (min-width: 1440px) {
	.testimonial {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0;

		&--1 {
			grid-column: 1/7;
			grid-row: 1/7;
		}

		&--2 {
			grid-column: 7/10;
			grid-row: 1/7;
		}

		&--3 {
			grid-column: 1/4;
			grid-row: 7/13;

			.testimonial__introduction {
				font-size: 2.4rem;
			}
		}

		&--4 {
			grid-column: 4/10;
			grid-row: 7/13;
		}

		&--5 {
			grid-column: 10/13;
			grid-row: 1/13;
		}

		&--3,
		&--4,
		&--5 {
			.testimonial__content {
				font-size: 1.45rem;
			}
		}

		&__icon {
			right: 10em;
		}

		&__user {
			margin-bottom: 0.8em;
			&-avatar {
				height: 35px;
				width: 35px;
			}

			&-info {
				&--username {
					font-size: 1.5rem;
				}

				&--verification {
					font-size: 1.2rem;
				}
			}
		}

		&__introduction {
			font-size: 2.2rem;
			margin-bottom: 0;
		}

		&__content {
			font-size: 1.4rem;
		}
	}
}
