@use './assets/colors.scss';

.main {
	min-height: 100vh;
	padding: 5em 1.5em;

	&__error {
		text-align: center;
		font-size: 2rem;
	}
}

@media (min-width: 1440px) {
	.main {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
}
